body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#game-board {
    background-color: #ccc;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: rgb(99, 187, 247);
    border: .25vmin solid black;
}

.food {
    background-color: rgb(247, 220, 99);
    border: .25vmin solid black ;
}